parameters:
	paths:
		-	Classes
		-	Configuration
		- Tests
	level: max
	treatPhpDocTypesAsCertain: false

#	docblock:
#		copyrightIdentifier: 'Copyright (C) 2025'
#		requiredLicenseIdentifier: 'GPL-2.0'

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Exception
				- TYPO3\TestingFramework\Core\Unit\UnitTestCase
				- Symfony\Component\Console\Command\Command

	ignoreErrors:
		-
			# keep ignoring
			identifier: symplify.requiredInterfaceContractNamespace
		-
			# keep ignoring
			identifier: ergebnis.noConstructorParameterWithDefaultValue
		-
			# keep ignoring
			identifier: ergebnis.noParameterWithNullableTypeDeclaration
		-
			# review
			identifier: ergebnis.noNullableReturnTypeDeclaration
		-
			# keep ignoring
			identifier: ergebnis.noParameterWithNullDefaultValue
