includes:
	- phpstan-baseline.neon

parameters:
	scanDirectories:
		- ../../.build/vendor/phpunit/phpunit/src
		- ../../.build/vendor/cuyz/valinor/src
		- ../../.build/vendor/nette/php-generator/src
		- ../../.build/vendor/typo3/testing-framework/Classes
	paths:
		- ../../Classes
		- ../../Configuration
		- ../../Tests/Functional
		- ../../Tests/Unit
	level: max
	treatPhpDocTypesAsCertain: false

	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
				- Exception
				- TYPO3\TestingFramework\Core\Unit\UnitTestCase
				- TYPO3\TestingFramework\Core\Functional\FunctionalTestCase
				- Symfony\Component\Console\Command\Command

	ignoreErrors:
		- identifier: ergebnis.noConstructorParameterWithDefaultValue
		- identifier: ergebnis.noNullableReturnTypeDeclaration
		- identifier: ergebnis.noParameterWithNullDefaultValue
		- identifier: ergebnis.noParameterWithNullableTypeDeclaration
		- message: '#Interface must be located in "Contract" or "Contracts" namespace#'
		# Ignore symfony/console 8.x deprecation as long as we support 6.x for TYPO3 v13
		-
			identifier: method.deprecated
			path: ../../Tests/*/GenerateConfigurationCommandTest.php
		# Ignore fixture extension files (standard TYPO3 ext_emconf.php format)
		-
			message: '#.*#'
			path: ../../Tests/Functional/Fixtures/Extensions/*/ext_emconf.php
